

.TopPadding{

    padding-top: 5cm;

}

.bonche-top{
    padding-top: 2cm;
}

.bonche-left{
    padding-left: 2cm;
}

.BottomPadding{

    padding-bottom: 1cm;
}

.inputPadding{

    padding-bottom: 0.5cm;
}

.TopPaddingOne_cm{

    padding-top: 1cm;
}

